{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-wrap mx-4">
    <div class="h2">
        {% if noticia.categoria %}
        {{noticia.categoria}}
        {% else %}
        Sin categoría
        {% endif %}
    </div>
    <div class="h1">{{noticia.titulo}}</div>
    <small class="text-muted">
        {% if noticia.autor %}
        {{noticia.autor}}
        {% else %}
        An&oacute;nimo
        {% endif %}
        | {{noticia.creado}}</small>
    <div>
        {% if noticia.imagen %}
        <img src="{{noticia.imagen.url}}" alt="{{noticia.titulo}}" width="100%">
        {% endif %}
    </div>
    <div>{{noticia.cuerpo | safe}}</div>
    <div>
        <h4>Comentarios</h4>
        {% if noticia.comentario_set.all %}
        {% for comment in noticia.comentario_set.all %}
        <div class="border">
            <div>{{comment.texto}}</div>
            <div><small class="text-muted"><b>{{comment.usuario}}</b> | {{comment.creado}}</small></div>
        </div>
        {% endfor %}
        {% else %}
        <i>No hay comentarios, se el primero!</i>
        {% endif %}
        <hr>
        {% if user.is_authenticated %}
        <form action="{{noticia.get_link_comentar}}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <button class="btn btn-primary" type="submit">Comentar</button>
        </form>
        {% else %}
        <p><a href="{% url 'login'%}?next={{request.path}}">Inicia sesi&oacute;n</a> para comentar</p>
        {% endif %}
    </div>
</div>
{% endblock content %}