{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="m-4 p-4">
    {% if user.is_authenticated %}
    <a href="{% url 'noticias-crear' %}" class="btn btn-success"><i class="bi bi-plus-square"></i> Crear noticia</a>
    {% endif %}
    <div class="h1">Todas las noticias</div>
    {% if samples %}
    <div class="card-group gap-3">
        {% for n in samples %}
        {{n}}
        <div class="card box-shadow-3">
            <img src="{% static 'img/imp1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Titulo de la noticia</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="h3">No hay noticias</div>
    {% endif %}
</div>
{% endblock content %}