{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fluid d-flex flex-row gap-1">
    <div class="bg-light-dark">
        <div class="bg-white sticky-top z-index-1 px-3" style="width: 200px; top:90px;">
            <ul class="list-unstyled ps-0">
                {% if user.is_authenticated and user.is_superuser %}
                <li class="mb-1">
                    <a href="{% url 'noticias:crear' %}" class="btn btn-success"><i class="bi bi-plus-square"></i> Crear
                        noticia</a>
                </li>
                {% endif %}
                <li class="mb-1">
                    <div class="h4">
                        Categor&iacute;as
                    </div>
                    <div>
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Más recientes</a></li>
                            <li><a href="#" class="link-dark rounded">Más destacado</a></li>
                            {% if categorias %}
                            {% for c in categorias %}
                            <li><a href="#" class="link-dark rounded">{{c.nombre}}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid m-4 mt-0">
        <div class="h1">Todas las noticias</div>
        {% if noticias %}
        {% for n in noticias %}
        <div class="card mb-4 box-shadow-3">
            {% if n.imagen %}
            <img src="{{ n.imagen.url }}" class="card-img-top" alt="{{n.titulo}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{{n.get_absolute_url}}">{{n.titulo}}</a></h5>
                <p class="card-text">{{n.get_resumen}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    {% if n.categoria %}
                    {{n.categoria}}
                    {% else %}
                    Sin categor&iacute;a
                    {% endif %}
                    |
                    {% if n.autor %}
                    {{n.autor}}
                    {% else %}
                    An&oacute;nimo
                    {% endif %}
                    | {{n.creado}}</small>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="h3">No hay noticias</div>
        {% endif %}
    </div>
</main>
{% endblock content %}