{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-4 flex-wrap py-1">
    <div class="h2">Crear noticia</div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary form-control" value="submit" type="submit">Publicar</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/formats/bbcode.min.js"></script>
<script>
    var textarea = document.getElementById('id_cuerpo');
    sceditor.create(textarea, {
        format: 'html',
        style: 'https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/content/default.min.css',
        emoticonsRoot: '/static/'
    });
</script>
{% endblock content %}