@media(max-width: 1000px){
    .slider-img {
        height: 400px;
    }
}
@media(max-width: 750px){
    .slider-img {
        height: 300px;
    }
}
@media(max-width: 600px){
    .slider-img {
        height: 250px;
    }
}
@media(max-width: 400px){
    .slider-img {
        height: 200px;
    }
}