{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fluid flex-wrap">
    <!--Carousel-->
    {% include 'slides/slides_default.html' %}
    <!--Noticias-->
    <div class="m-4 p-4">
        <div class="h1">Últimas Noticias</div>
        <div class="card-group gap-3">
            {% for n in noticias|slice:":3" %}
            <div class="card box-shadow-3">
                <img src="{{n.imagen.url}}" class="card-img-top thumbnail" alt="{{n.titulo}} | {{n.categoria}}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{n.get_absolute_url}}">{{n.titulo}}</a></h5>
                    <p class="card-text">{{n.get_resumen}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{n.creado}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}